<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{pageTitle}} - RAAC Schools Map</title>
    <meta name='description' content='A map of all schools that are affected by Reinforced Autoclaved Aerated Concrete (RAAC)'>
    <link rel="icon" href="./public/favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/acg4rkf.css" />
    <link rel='stylesheet' href='/public/css/style.css' />
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.css' />
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <script src='https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.js'></script>
</head>