<section>
    <div class="wrapper">
        <div class="row">
            <h1>404</h1>
            <div class="copy">
                <p>Page not found.</p>                
            </div>
        </div>
    </div>
</section>