<section>
    <div class="wrapper">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>About</li>
        </ul>
        <div class="row">
            <h1>About</h1>
            <div class="copy">
                <p>This map plots all the schools affected by RAAC (Reinforced Autoclaved Aerated Concrete) in the UK. It was created by <a href="https://jonnowitts.com">Jonno Witts</a>.</p>
                <p>It's still a work in progress.</p>
                <p>Feel free to <a href="mailto:info@jonnowitts.com">send me an email</a> if you have any questions.</p>
            </div>
        </div>
        <div class="row">
            <h2>About RAAC</h2>
            <div class="copy">
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Reinforced_autoclaved_aerated_concrete">Wikipedia entry on
                            RAAC</a></li>
                    <li><a href="https://www.bbc.co.uk/news/education-66669239">BBC article about RAAC</a></li>
                    <li><a href="https://www.bbc.co.uk/news/education-66681227">BBC article on RAAC schools</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2>Data</h2>
            <div class="copy">
                <p>Data has been collected from various sources, primarily the <a href="https://www.gov.uk/government/publications/reinforced-autoclaved-aerated-concrete-raac-management-information">UK Government's official list</a>. In order to plot the points onto the map postcodes were converted to longitude and latitudes and gathered (by hand!) from <a href="https://uprn.uk/">UPRN.uk</a>. Further data about each school was collected from the <a href="https://get-information-schools.service.gov.uk/Downloads">Department for Education's full list of schools in the UK</a> (this coming soon).</p>
                <p>All of the data used and gathered can be found in the <a href="https://github.com/jonnow/raac-schools/tree/main/public/data">data folder on GitHub</a>.</p>
            </div>
        </div>
        <div class="row">
            <h2>Your privacy</h2>
            <div class="copy">
                <p>Custom made analytics have been created for use on the website. This is saved to a local SQLite database. No identifible information whatsoever is collected or transported. Analytics are used only to collate usage statistics (think a visit counter) and to see what type of devices are used (mobile/desktop).</p>
                <p>Items of data that are collected are:</p>
                <ul>
                    <li>Time of visit</li>
                    <li>Page visit</li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent">User agent of browser</a> (I.e. browser and operating system)</li>
                    <li>Language requested (English, French etc)</li>
                </ul>
                <p>You can view the code on <a href="https://github.com/jonnow/raac-schools/blob/main/sqlite.js">the Github repo</a> to view the code used to achieve this.</p>
            </div>
        </div>
        <div class="row">
            <h2>Bugs, issues and feedback</h2>
            <div class="copy">
                <p>Please <a href="https://github.com/jonnow/raac-schools/issues">log an issue on GitHub</a> with any bugs or issues you encounter or any ideas you have to contribute.</p>
            </div>
        </div>
        
        <div class="row">
            <h2>Licencing</h2>
            <div class="copy">
                <p>Data is freely available for your use however please credit me if using any datasets (gathering it up took time!).</p>
            </div>
        </div>
        <div class="row">
            <h2>Almanac</h2>
            <div class="copy">
                <p>This website has been created with <a href="https://fastify.dev">Fastify</a> running on Node.js and hosted on <a href="https://glitch.com">Glitch.com</a>.</p>
                <p>The map was built using <a href="https://maplibre.org">MapLibre</a> and uses the <a href="https://osdatahub.os.uk/">OS Maps styling</a>.</p>
                <p>You can view the code on the <a href="https://github.com/jonnow/raac-schools/">GitHub Repo</a>.</p>
            </div>
        </div>
    </div>
</section>