<section>
    <div class="wrapper">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>Data</li>
        </ul>
        <div class="row">
            <h1>Data</h1>
            <div class="copy">
                <p>Data used to plot point on the map can be found on GitHub. Links provided below.</p>
                <p>It's still a work in progress.</p>
                <p>Feel free to <a href="mailto:info@jonnowitts.com">send me an email</a> if you have any questions.</p>
            </div>
        </div>
        <div class="row">
            <h2>Downloads</h2>
            <div class="copy">
                <ul>
                    <li><a href="https://github.com/jonnow/raac-schools/blob/main/public/data/full_raac_data.json">Combined RAAC, School and Geolocation data (json format)</a> - This took a while to compile various data sources. Please credit Jonno Witts if using.</li>
                    <li><a href="https://github.com/jonnow/raac-schools/blob/main/public/data/gov_raac_data.json">UK Government RAAC data (56kb, json format)</a></li>
                    <li><a href="https://github.com/jonnow/raac-schools/blob/main/public/data/gov_raac_data.csv">UK Government RAAC data (22kb, csv format)</a></li>
                    <li><a href="https://github.com/jonnow/raac-schools/blob/main/public/data/gov_raac_data.xml">UK Government RAAC data (66kb, xml format)</a></li>
                    <li><a href="https://get-information-schools.service.gov.uk/Downloads">Various school related data available from the Department for Education website</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>