<h1>{{pageTitle}}</h1>
<div id='map' style='width: 100%; height: 80vh;'></div>
<script>
    async function getSchools() {
        const response = await fetch('/getSchools')
        const data = await response.json();
        return data.schools
    }
    const map = new maplibregl.Map({    
        //style: 'https://demotiles.maplibre.org/style.json', // stylesheet location
        container: 'map',
        maxZoom: 18,
        style: 'https://api.os.uk/maps/vector/v1/vts/resources/styles?key=tY9Fij3wlMS7wj2t4WdAuYGi4Tgbe6Hu',
        maxBounds: [
            [ -15.76418, 49.528423 ],
            [ 5.9134116, 61.331151 ]
        ],
        center: [ -2.968, 54.425 ],
        zoom: 5,
        transformRequest: url => {
            const osUrl = url.split('https://api.os.uk')
            if(osUrl.length > 1) {
                return {
                    url: url + '&srs=3857'
                }
            }
            return { url: url }
        }
    });

    map.on('load', async () => {
        const schools = await getSchools()

        map.loadImage(
            'https://maplibre.org/maplibre-gl-js/docs/assets/custom_marker.png',
            (error, image) => {
                if(error) throw error;
                map.addImage('custom-marker', image);
                map.addSource('schools', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': schools
                    }
                });
                 // Add a symbol layer
                map.addLayer({
                    'id': 'symbols',
                    'type': 'symbol',
                    'source': 'schools',
                    'layout': {
                        'icon-image': 'custom-marker',
                        'icon-size': 0.4,
                        'icon-allow-overlap': true
                    }
                });
            }
        )
    });

    map.addControl(new maplibregl.FullscreenControl({container: document.querySelector('body')}));


   
</script>