*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--col-gold-dark);
  color: var(--col-offWhite);
}

:root {
  --width-xsm: 768px;
  --width-sm: 820px;
  --width-sm: 920px;
  --font-size-base: 1.125rem;
  --font-size-l: 1.5rem;
  --col-offBlack-tint: #999999;
  --col-offBlack: #2a2a2a;
  --col-yellow: #F2DA91;
  --col-gold: #F2A03D;
  --col-gold-dark: #ce7e1e;
  --col-orange: #F26513;
  --col-terracotta: #8C2703;
  --col-burnish: #8C4637;
  --col-offWhite: #eeeeee;
  --font-family-serif: "chaparral-pro-display", serif;
  --font-family-sansSerif: "acumin-pro", "helvetica", "arial", sans-serif;
  --col-transition-time: .15s;
  --col-transition-easing: ease-in-out;
}

body {
  font-family: var(--font-family-sansSerif);
  border: 1px solid var(--col-offBlack);
  padding: 1rem;
  margin: 1rem;
  color: var(--col-offBlack);
  letter-spacing: 0.3px;
  min-height: 95vh;
}
@media screen and (min-width: 768px) {
  body {
    padding: 2rem;
    margin: 2rem;
  }
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-serif);
  font-weight: 400;
  font-style: normal;
  color: var(--col-offBlack);
}

a {
  color: var(--col-orange);
}
a:hover {
  color: var(--col-burnish);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--col-offBlack-tint);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  header {
    padding: 0 4rem 1rem;
  }
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  width: 20rem;
  line-height: 1.125;
}
header h1 img {
  float: left;
  margin-right: 1rem;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  header .wrapper {
    flex-direction: row;
  }
}
header nav {
  font-weight: 600;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-l);
  display: flex;
  align-items: center;
  gap: 1rem;
}
header a {
  text-decoration: none;
  color: var(--col-offBlack);
  border: 2px solid var(--col-offBlack-tint);
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  transition: all var(--col-transition-time) var(--col-transition-easing);
}
@media screen and (min-width: 768px) {
  header a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 0;
  }
}
header a:hover {
  color: var(--col-offBlack);
  border-color: var(--col-offBlack);
  background-color: var(--col-gold);
}

.wrapper {
  max-width: 1080px;
  width: 90%;
}
@media screen and (min-width: 960px) {
  .wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1180px) {
  .wrapper {
    width: 70%;
  }
}

main h1 {
  font-size: 4rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
main h2 {
  font-size: 2rem;
}
main ul li {
  list-style-type: circle;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .row h1, main section .row h2 {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  main section .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  main section .row h1, main section .row h2 {
    width: 30%;
    margin: 0;
  }
  main section .row:not(:first-of-type) .copy {
    padding-top: 0.63rem;
  }
  main section .row:first-of-type .copy {
    padding-top: 2.3rem;
  }
  main section .row .copy {
    width: 60%;
  }
  main section .row .copy p {
    margin-top: 0;
  }
}

h2 {
  margin-top: 2.5rem;
}

ul.nav, ul.tags {
  padding-left: 0;
}
ul.nav li, ul.tags li {
  display: inline-block;
  margin-right: 1rem;
}
ul.nav li {
  font-family: var(--font-family-serif);
  font-weight: 600;
  letter-spacing: 0.75px;
}
ul.nav li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin-left: 1rem;
}
ul.tags {
  justify-self: end;
  align-self: end;
  margin-bottom: auto;
}
ul.tags li {
  display: inline-block;
  color: var(--col-offBlack);
  background-color: var(--col-gold);
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid var(--col-gold-dark);
}
ul.tags li:last-child {
  margin-right: 0;
}
ul li {
  margin-bottom: 0.5rem;
}

.maplibregl-popup-content {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
