{{> head }}
<body>
    <header>
        <div class="wrapper">
            
            <h1><img src="./public/icons/logo@x2.png" height="128" width="128" alt="Concrete icon" />RAAC <br>Schools Map</h1>
            <nav>
                <a href="/">Map</a>
                <a href="/data">Data</a>
                <a href="/about">About</a>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>