:root {
    --width-xsm: 768px;
    --width-sm: 820px;
    --width-sm: 920px;
    --font-size-base: 1.125rem; // 18px
    --font-size-l: 1.5rem; // 24px
    --col-offBlack-tint: #999999;
    --col-offBlack: #2a2a2a;
    --col-yellow: #F2DA91;
    --col-gold: #F2A03D;
    --col-gold-dark: #ce7e1e;
    --col-orange: #F26513;
    --col-terracotta: #8C2703;
    --col-burnish: #8C4637;
    --col-offWhite: #eeeeee;
    --font-family-serif: 'chaparral-pro-display', serif;
    --font-family-sansSerif: 'acumin-pro', 'helvetica', 'arial', sans-serif;
    --col-transition-time: .15s;
    --col-transition-easing: ease-in-out;
}
