@import 'reset';
@import 'fonts';
@import 'base';

h2 {
    margin-top: 2.5rem;
}

ul {
    &.nav, &.tags {
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 1rem;
        }
    }
    &.nav {
        li {
            font-family: var(--font-family-serif);
            font-weight: 600;
            letter-spacing: .75px;
            &:not(:last-child)::after {
                content: '/';
                display: inline-block;
                margin-left: 1rem;
            }
        }
    }
    &.tags {
        justify-self: end;
        align-self: end;
        margin-bottom: auto;
        li {
            display:inline-block;
            color: var(--col-offBlack);
            background-color: var(--col-gold);
            padding: .5rem;
            border-radius: 2px;
            border: 1px solid var(--col-gold-dark);
            &:last-child {
                margin-right: 0;
            }
        }
    }
    li {
        margin-bottom: .5rem;
    }   
}

@import 'map';